[Unit]
Description=GraphFS service.     

[Service]
WorkingDirectory=/home/ubuntu/git/graphfs
ExecStart=/home/ubuntu/git/graphfs/graphfs-service.bash
Restart=always
RestartSec=5
StandardOutput=/mnt/volumes/graphfs/log/graphfs.log
StandardError=/mnt/volumes/graphfs/log/graphfs.err

[Install]
WantedBy=multi-user.target
