[Unit]
Description=GraphFS service.     

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/git/graphfs
ExecStart=/home/ubuntu/git/graphfs/graphfs-service.bash
Restart=always
RestartSec=5
StandardOutput=file:/mnt/volumes/graphfs/log/graphfs.log
StandardError=file:/mnt/volumes/graphfs/log/graphfs.err

[Install]
WantedBy=multi-user.target
